# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*/.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Expo
.expo/
.expo-shared/

# Build files
dist/
build/
*.apk
*.aab

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
.cache/

